* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 3rem 0 5rem;
}

.pagination li a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 500;
}

.pagination li.active a {
  background-color: #0E1957;
  color: white;
}

.pagination li a:focus {
  outline: none;
}
